*{
    margin: 0;
    padding: 0;

}

.iconuser img{    
    width: 20px;
    height: 20px;
    
    bottom: 20px;
    left: 150px;
    position: relative;
}
.iconpassword img{    
    width: 20px;
    height: 20px;
    
    bottom: 20px;
    left: 150px;
    position: relative;
}